





















{% extends 'base_staff.html' %} 
{% load static %} 
{% load widget_tweaks %}
{% load i18n %}
{% load bootstrap3 %}


{% comment %} {% include
"base_staff.html" %} {% endcomment %} {% comment %} <!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Home</title>
    {% endcomment %}
     {% block css%}
     

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    
  {% comment %} <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />  {% endcomment %}
   {% comment %} <link
      rel="stylesheet"
     href="{%static 'css/view_studentList_staff.css' %}" 
    />   {% endcomment %}

    {% endblock css%}
     {%block content%}

    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>Add <b>Questions</b></h2>
        </div>
      </div>
      <div class="container card p-3  mt-5">

      <form action="" method="POST">
    {{ form.management_form }}

    {% for forms in form %}
        {% csrf_token  %}
        <p>
            {{ forms }}
        </p>
    {% endfor %}
    {% for hidden in form.hidden_fields %}
           {{ hidden }}
 {% endfor %}
    <input type="submit">
</form>
       

        <form action="" method="post">
		{% csrf_token %}
		<fieldset>
				{{ form.non_field_errors }}
				{% for field in form %}
				<div class="row">
					<div class="col-md-3">{% bootstrap_label field.label %}</div>
					<div class="col-md-8">{% bootstrap_field field show_label=False %}</div>
				</div>
				{% endfor %}
		</fieldset>
		<fieldset>
				<legend>Assignment Questions</legend>
				{{ question_answer_form.management_form }}
				{{ question_answer_form.non_form_errors }}
                				{% for form in question_answer_form %}
						<div class="inline {{ question_answer_form.prefix }}">
						{% for field in form.visible_fields %}
								<div class="row">
										<div class="col-md-3">{% bootstrap_label field.label %}</div>
										<div class="col-md-8">{% bootstrap_field field show_label=False %}</div>
								</div>
						{% endfor %}
						</div>
				{% endfor %}
		</fieldset>
		<div class="row">
				<div class="col-md-1">
						<input type="submit" class="btn btn-groppus-primary bordered" value="{% trans "Submit Assignment" %}" />
				</div>
		</div>
		</form>



  </div>

</div>


  
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>

    <script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
		$(function() {
				$(".inline.{{ question_answer_form.prefix }}").formset({
						prefix: "{{ question_answer_form.prefix }}", // The form prefix for your django formset
						addCssClass: "btn btn-block btn-primary bordered inline-form-add", // CSS class applied to the add link
						deleteCssClass: "btn btn-block btn-primary bordered", // CSS class applied to the delete link
						addText: 'Add another question', // Text for the add link
						deleteText: 'Remove question above', // Text for the delete link
						formCssClass: 'inline-form' // CSS class applied to each form in a formset
				})
		});
</script>





     {% endblock content%} 
    
    
    
    
    {% block scripts %}
 


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% endblock scripts%}


