{% extends 'base_staff.html' %} 
{% load static %}
{% comment %} {% include "base_staff.html" %} {% endcomment %}

{% comment %} <!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Home</title>  {% endcomment %}
    
 {% block css%}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="h ttps://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{%static 'css/view_studentList_staff.css' %}">

 {% endblock css%}
   





 {%block content%}
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h1>Manage <b>Questions</b></h1>
					</div>
					<div class="col-sm-6">
                    <form class="form-inline input-group">

    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
    <button class="btn btn-primary my-2 my-sm-0 rounded" type="submit"> <i class="bi bi-search"></i></button>
  </form>


<a href="{% url 'create_question' %}" class="btn btn-success mt-1" ><i class="material-icons">&#xE147;</i> <span>Add New Question</span></a>
						
						{% comment %} <a href="{% url 'question_add' %}" class="btn btn-success" ><i class="material-icons">&#xE147;</i> <span>Add New Student</span></a> {% endcomment %}
						{% comment %} <a href="#deleteEmployeeModal" class="btn btn-danger" data-bs-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete Student</span></a>						 {% endcomment %}
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
						<th>
							S.No
						</th>
                        <th> Question text</th>
                        <th>Quiz Name</th>
						<th>Quiz Topic</th>
                        <th>Quiz Difficulty</th>
                        <th>Answers</th>
                       
                    </tr>
                </thead>
                <tbody>
                {% for i in data %}
                    <tr>
						<td>
							{{forloop.counter}}
						</td>
                        <td>{{i.text}}</td>
                        <td>{{i.get_quiz_name}}</td>
						<td>{{i.get_quiz_topic}}</td>
                        <td>{{i.get_quiz_difficulty}}</td>
                        <td><button href="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-{{forloop.counter}}">
Answers
</button></td>
                         

                        <td>
                        {% comment %} <a href="{% url 'update_question' i.id %}" class="btn btn-success" ><i class="material-icons">&#xE147;</i> <span>Edit</span></a> {% endcomment %}
                            <a href="{% url 'update_question' i.id %}" class="edit" ><i class="material-icons"  title="Edit">&#xE254;</i></a>
                            <a href="#deleteEmployeeModal-{{forloop.counter}}" class="delete" data-bs-toggle="modal"><i class="material-icons" data-bs-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>
                    {%endfor%} 
                </tbody>
            </table>

<div class="clearfix" >
	{% if data.has_other_pages %}	
  <ul class="pagination">
    {% if data.has_previous %}
	<li class="page-item "><a href="?page={{ data.previous_page_number }}">Previous</a></li>
      {% else %}
	<li class="page-item disabled"><a href="#" class="page-link">Previous</a></li>
        {% endif %}
    {% for i in data.paginator.page_range %}
      {% if data.number == i %}
	   <li class="page-item active">
              <a href="#" class="page-link">{{i}}</a>
            </li>
         {% else %}
        <li class=" page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if data.has_next %}
	<li class="page-item"><a href="?page={{ data.next_page_number }}" class="page-link">Next</a></li>
       {% else %}
	  <li class="page-item disabled"><a href="#" class="page-link">Next</a></li>
        {% endif %}
  </ul>
{% endif %}
</div>


			{% comment %} <div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item "><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div> {% endcomment %}
	
	
	
	<!-- Delete Modal HTML -->
     {% for i in data  %}
	<div id="deleteEmployeeModal-{{forloop.counter}}" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Delete Employee</h4>
						<button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Are you sure you want to delete these Records?</p>
						<p class="text-warning"><small>{{i.text}}</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
						<a href="{% url 'question_delete' i.id %}" type="submit" class="btn btn-danger" >Delete</a>
					</div>
				</form>
			</div>
		</div>
	</div>
     {% endfor %}

     <!--delete-->
     







<!-- answers modal HTML -->
      {% for i in data %}
<div class="modal fade" id="exampleModal-{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Answers</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

       
       {% for ans in i.get_answers %}
       <ul>
       <div class="input-group  form-control mb-3">
       {{ans}}
       </div>
       </ul>
       {% endfor  %} 

       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
{% endfor  %}    
 {% endblock content%}


  {% block scripts %}
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

<script>

$(document).ready(function(){
	// Activate tooltip
	$('[data-toggle="tooltip"]').tooltip();
	
	// Select/Deselect checkboxes
	var checkbox = $('table tbody input[type="checkbox"]');
	$("#selectAll").click(function(){
		if(this.checked){
			checkbox.each(function(){
				this.checked = true;                        
			});
		} else{
			checkbox.each(function(){
				this.checked = false;                        
			});
		} 
	});
	checkbox.click(function(){
		if(!this.checked){
			$("#selectAll").prop("checked", false);
		}
	});
});
</script>
 {% endblock scripts%}



